/* 
*
OWN CUSTOM GOES HERE
*
*/

body{
	font-size: 14px;
	background-color: #f5f5f5;
}
.bg-dark-blue{
	background: #283e4a;
}
.text-blue{
	/* color: #0073b1; */
	color: #0a6ca1;
}
.text-grey{
	color: #777;
}
.no-margin{
	margin: 0px !important;
}
.no-padding{
	padding: 0px !important;
}
.dropdown-menu{
	font-size: unset;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
}
.dropdown-item{
	padding: 0.4rem 1.5rem;
}





/* 
*
OWN CUSTOM GOES HERE
*
*/

main{
	margin-top: 63px;
	margin-bottom: 30px;
}
.transparent{
	background-color: transparent !important;
	border: none !important;
}
.full{
	width: 100%;
}
.hidden{
	display: none;
}
.bor-left{
	border-left: 1px solid #cdcdcd;
}
.navbar{
	padding: 3px 15px;
}
.navbar-nav input.form-control{
	background-color: #e1e9ee;
	font-size: 14px;
}
.navbar-nav .input-group-append{
	height: 35px;
}
.navbar-nav .input-group-append .btn{
	background-color: #e1e9ee;
	border: none;
}
.navbar input.form-control:focus{
	background-color: #ffffff;
	box-shadow: unset;
	border: 1px solid #e1e9ee;
}
.navbar .dropdown-menu{
	top: 40px;
}
nav.bg-dark-blue a.sub-icon, nav.bg-dark-blue span.sub-icon{
	color: #c7d1d8;
	line-height: 11px;
	cursor: pointer;
}
nav.bg-dark-blue a.sub-icon:hover, nav.bg-dark-blue span.sub-icon:hover, nav.bg-dark-blue span.sub-icon:active{
	color: #ffffff;
}
ul.nav li{
	width: 75px;
}
ul.nav li.separator{
	width: 3px;
}
ul.nav li.separator{
	border-right: 1px solid #94989c;
}
.dropdown-menu.account{
	width: 290px;
}
.dropdown-menu.account li{
	width: 100%;
}
.dropdown-menu.account .header{
	padding-top: 0.75rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	display: grid;
	grid-template-columns: 68px auto;
	line-height: 20px;
	font-size: 13px;
}
.dropdown-menu.account .header img{
	width: 56px;
	height: 56px;
	border-radius: 50%;
}
.dropdown-caption{
	display: block;
	width: 100%;
	padding: 0.5rem 1.5rem;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background-color: rgba(205, 207, 210, 0.3);
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	font-weight: 700;
}
.nav-link{
	padding: 0px;
}
.nav-link.sub-icon{
	text-align: center;
}
.nav-icon-title{
	font-size: 11px;
	position: relative;
}
.sub-icon .material-icons{
	margin-top: -1px;
	font-size: 24px;
}
.nav-icon-title .material-icons{
	font-size: 20px;
  position: absolute;
	top: -4px;
	right: -5px;
}
.btn-primary.linkedin{
	background-color: #0073b1;
	border: 1px solid #0073b1;
}
.btn-primary.linkedin:hover{
	background-color: #00669c;
	border: 1px solid #00669c;
}
.box-icon{
	position: relative;
}
.box-icon .count{
	position: absolute;
	top: -10px;
	right: -2px;
	background-color: red;
	font-size: 10px;
	color: #ffffff;
	width: 14px;
	height: 14px;
	line-height: 11px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid #283e4a;
}
img.photo-header{
	width: 23px;
	height: 23px;
	border-radius: 50%;
}
img.photo-list{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.search-group{
	position: relative;
}
ul.suggestion{
	background-color: #ffffff;
	border: 1px solid #cdcdcd;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	position: absolute;
	width: 700px;
	top: 37px;
	left: 0;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
}
ul.suggestion > li{
	padding: 6px 12px;
	cursor: pointer;
	min-height: 42px;
	line-height: 30px;
}
ul.suggestion > li:hover{
	background-color: rgba(205, 207, 210, 0.3);
}
ul.suggestion > li.label{
	min-height: unset;
	padding: 6px 12px;
}
ul.suggestion > li.separator{
	min-height: unset;
	padding: 0;
	margin: 2px 0;
	border-bottom: 1px solid #cdcdcd;
	height: 1px;
}
ul.suggestion > li a{
	text-decoration: none;
	color: #333;
}
.suggestion .icon-group .material-icons{
  display: inline-flex;
  vertical-align: top;
  font-size: 25px;
  line-height:28px;
}

div.h-line{
	width: 100%;
	border-bottom: 1px solid #cdcdcd;
}
div.v-space{
	width: 100%;
	height: 15px;
}


.box{
	border: 1px solid #cdcdcd;
	background-color: #ffffff;
}
.mini-profile{
	width: 100%;
	font-size: 12px;
}
.mini-profile .header{
	position: relative;
}
.mini-profile .cover-image{
	height: 54px;
	position: relative;
	overflow: hidden;
}
.mini-profile .cover-image img{
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.mini-profile .profile-image{
	position: absolute;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	top: 17px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	overflow: hidden;
	border: 2px solid #ffffff;
}
.mini-profile .profile-image img{
	height: 100%;
	width: 100%;
}
.mini-profile .identity{
	text-align: center;
	padding: 50px 15px 18px 15px;
	line-height: 18px;
}
.mini-profile .identity span{
	padding: 5px 0;
}
.mini-profile .connect{
	padding: 15px 15px;
}
.connect .list{
	display: grid;
	grid-template-columns: auto 15px;
	line-height: 16px;
	padding: 5px 0;
}
.mini-profile .additional{
	padding: 15px 15px;
}

.people-list{
	font-size: 13px;
}
.people-list .body, .people-list .footer{
	padding: 15px 15px;
}.people-list .header{
	padding: 15px 15px 0 15px;
}
.people-list .item{
	display: grid;
	grid-template-columns: 55px auto;
	padding: 10px 0;
}
.people-list .item .image-wrapper{
	width: 46px;
	height: 46px;
	border-radius: 50px;
	overflow: hidden
}
.people-list .item img{
	width: 100%;
}
.people-list .footer{
	text-align: center;
}

.feed-list{
  font-size: 13px;

}
.feed-list .header{
  padding: 15px 15px 0 15px;
}
.feed-list .body, .feed-list .footer{
  padding: 15px;
}
.feed-list .item{
	display: grid;
	grid-template-columns: 55px auto;
	padding: 10px 0;
}
.feed-list .image-wrapper{
	width: 46px;
	height: 46px;
	overflow: hidden
}
.feed-list .item img{
  width: 100%;
}
.feed-list .header .menu .material-icons{
  font-size: 20px;
  margin-top: -7px;
  margin-right: -7px;
}
.feed-list .header .menu .btn{
  color: #333;
}

.profile .cover-image-wrap{
	height: 200px;
	overflow: hidden;
	position: relative;
}
.profile .cover-image-wrap img{
	position: absolute;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.profile .profile-image-wrap{
	position: relative;
	margin-top: -75px;
	margin-left: 24px;
	z-index: 1000;
	width: 152px;
	height: 152px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #ffffff;
}
.profile .profile-image-wrap img{
	height: 100%;
}
.profile .info{
	padding: 0 24px 24px 24px;
}
.profile .doc-wrapper{
	width: 105px;
	height: 55px;
	overflow: hidden;
	position: relative;
	border: 1px solid #c7d1d8;
}
.profile .doc-wrapper img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 80px;
	width: auto;
}
.profile .doc-wrapper i.material-icons{
	position: absolute;
	right: -1px;
	bottom: -1px;
	background-color: #ffffff;
	padding: 2px;
	font-size: 20px;
	border: 1px solid #c7d1d8;
}
.dashboard{
	padding: 24px;
	background-color: #344a57;
}
.dashboard .header{
	color: #ffffff;
}
.dashboard .counter{
	display: grid;
	grid-template-columns: 33% 34% 33%;
	background-color: #fff;
}
.dashboard .counter > div{
	padding: 12px;
	border: 1px solid #cdcdcd;
}
.dashboard .counter .number{
	font-size: 32px;
	color: #00669c;
}
.dashboard .career{
	display: grid;
	grid-template-columns: 40px auto;
	background-color: #ffffff;
}
.dashboard .career > div{
	padding: 12px;
}


.post-add .body{
	color: grey;
	display: grid;
	grid-template-columns: auto 72px 72px 72px;
	height: 72px;
	border-bottom: 1px solid #cdcdcd;
}
.post-add .body .icon-only{
	display: flex;
	align-items: center;
	justify-content: center
}
.post-add .material-icons{
	font-size: 22px;
}
.post-add .post-box{
	display: flex;
	align-items: center;
}
.post-add .footer{
	padding: 12px 16px;
	background-color: #f5f5f5;
}
.icon-text-inline{
	line-height:26px;
}
.icon-text-inline .material-icons{
	display: inline-flex;
	vertical-align: top;
}